body {
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    /* padding: 20px; */
    background-color: #f2f2f2;
    direction: rtl;
    text-align: right;
  }
  
  .map-container {
    position: relative;
    display: flex;
    width: 2000px;
    background-color: #c2dfff;
  }
  .map-container object{
    width: 100%;
  }
  
  .tooltip {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #fff;
    color: #333;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(39, 27, 27, 0.2);
    z-index: 10;
    width: 180px;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
  .stone-icon{
    width: 30px;
    height: 20px;
    border-radius: 2px;
  }
  .box-products{
    display: flex;
    align-items: baseline;
    gap: 10px;
    justify-content: center;
  }